<p id="notice"><%= notice %></p>

<p>
  <b>Club:</b>
  <%= @course.club.name %>
</p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<table>
  <tr>
    <th>Course</th>
    <th>Number</th>
    <th>Par</th>
    <th>Hdcp</th>
    <th>Yard</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @holes.each do |hole| %>
  <tr>
    <td><%= hole.course_id %></td>
    <td><%= hole.number %></td>
    <td><%= hole.par %></td>
    <td><%= hole.hdcp %></td>
    <td><%= hole.yard %></td>
    <td><%= link_to 'Show', club_course_hole_path(@club_id, @course.id, hole) %></td>
    <td><%= link_to 'Edit', edit_club_course_hole_path(@club_id, @course.id, hole) %></td>
    <td><%= link_to 'Destroy', club_course_hole_path(@club_id, @course.id, hole), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_club_course_path(@course.club.id) %> |
<%= link_to 'Back', club_courses_path %>
