<!DOCTYPE html>
<html>
<head>
  <title>Scorecards</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  <link rel="apple-touch-icon-precomposed" href="/assets/nikoball_57x57.png" sizes="57x57">
  <link rel="apple-touch-icon-precomposed" href="/assets/nikoball_72x72.png" sizes="72x72">
  <link rel="apple-touch-icon-precomposed" href="/assets/nikoball_114x114.png" sizes="114x114">
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to 'Scorecards', root_path %></h1>
  <% if session[:login] %>
  <% user = session[:login]%>
  <p><%= link_to (user[:name].blank? ? user[:account] : user[:name]), :controller => 'users', :action => 'show', :id => user[:id] %></p>
  <p><%= link_to 'ログアウト', :controller => 'authentication', :action => 'logout' %></p>
  <% else %>
  <p><%= link_to 'ログイン', :controller => 'authentication', :action => 'index' %></p>
  <% end %>
  <p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
