<!DOCTYPE html>
<html>
<head>
  <title>Sucoca</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  <link rel="apple-touch-icon-precomposed" href="/assets/nikoball_57x57.png" sizes="57x57">
  <link rel="apple-touch-icon-precomposed" href="/assets/nikoball_72x72.png" sizes="72x72">
  <link rel="apple-touch-icon-precomposed" href="/assets/nikoball_114x114.png" sizes="114x114">
  <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
  <h1><%= link_to 'Sucoca', root_path %></h1>
  <p class="menu">
  <% if session[:login] %>
  <% user = session[:login]%>
    <%= link_to (user[:name].blank? ? user[:account] : user[:name]), :controller => 'users', :action => 'show', :id => user[:id] %>
    <%= link_to 'ログアウト', :controller => 'authentication', :action => 'logout' %>
  <% else %>
    <%= link_to 'ログイン', :controller => 'authentication', :action => 'index' %>
  <% end %>
  </p>
  </div>
  <p id="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
